.pswSugg {
	background: white;
	color: black;
	border: 1px black solid;
	padding: 20px 5px 5px 5px;
	position: relative;
	clear: both;
}

.pswSugg img, .pswSugg div {
	display: inline;
	vertical-align: middle;
	margin: 0 2px;
}

#imageReminder {
	background: url('chrome-extension://ipgefacclnpdpjllmddbgnnaieichfph/images/keyboard.jpg') 0 0;
	position: relative;
	z-index: 999999;
}

.pswSugg a,.pswSugg a:visited,.pswSugg a:hover,.pswSugg a:active{
  color: blue;
  cursor: pointer;
}

#psg-close {
  position: absolute;
  right: 3px;
  top: 3px;
}

#psg-logo {
  position: absolute;
  left: 3px;
  top: 3px;
}
