#passwordGeneratorSuggestion {
	background: white;
	color: black;
	border: 1px black solid;
	padding: 20px 5px 5px 5px;
	position: relative;
}

#passwordGeneratorSuggestion img, #passwordGeneratorSuggestion div {
	display: inline;
	vertical-align: middle;
	margin: 0 2px;
}

#imageReminder {
	background: url('chrome-extension://jgimfkicpcpfimdpjhhoabpljmjnbdja/images/keyboard.jpg') 0 0;
	position: relative;
	z-index: 999999;
}

#passwordGeneratorSuggestion a,#passwordGeneratorSuggestion a:visited,#passwordGeneratorSuggestion a:hover,#passwordGeneratorSuggestion a:active{
  color: blue;
  cursor: pointer;
}

#psg-close {
  position: absolute;
  right: 3px;
  top: 3px;
}

#psg-logo {
  position: absolute;
  left: 3px;
  top: 3px;
}
