#passwordGeneratorSuggestion {
	background: grey;
	border: 1px black solid;
	color: white;
	padding: 5px;
}

#passwordGeneratorSuggestion img, #passwordGeneratorSuggestion div {
	display: inline;
	vertical-align: middle;
	margin: 0 2px;
}

#imageReminder {
	background: url('chrome-extension://jgimfkicpcpfimdpjhhoabpljmjnbdja/images/keyboard.jpg') 0 0;
	position: relative;
	z-index: 999999;
}
